.flexContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    flex-wrap: wrap;

    gap: 10px;
    margin-block: 30px;
}

.flexContainer > * {
    flex-basis: calc(25% - 10px);
}

@media screen and (max-width: 1092px){
    .flexContainer > * {
        flex-basis: calc(33.3% - 10px);
    }   
}

@media screen and (max-width: 768px){
    .flexContainer > * {
        flex-basis: calc(50% - 10px);
    }   
}

@media screen and (max-width: 500px){
    .flexContainer > * {
        flex-basis: calc(100% - 10px);
    }   
}